


<h1>IMDB Movie Trivia</h1>


<form action="/poster" method="POST">

<h3>Enter a word that your favorite movie title contains!</h3>

<label>Enter word</label>
		<input type="text" name="word" placeholder="word">

		<br>
		<br>


		<button type="submit">Submit</button>
</form>	
